.form {
  background-color: #303030;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 20px;
  border: 1px solid #5b5757; /* Додайте рамку */
  
  
  &_row {
    background-color: #1f1f1f;
    padding: 7px 15px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
  }
}
